.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  height: 2rem;
}
.form-control label{
  color: black;
}
.form-control input,
.form-control textarea {
  border: 1px solid #00695c ;
  color:black;
  font: inherit;
  border-radius: 2px;
  height: 2rem;
  background-color: transparent;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}
